h1, h2 {
  text-align: center;
}

.error-action {
  margin-top: 30px;
  text-align: center;
}

.batman-error {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 480px;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

.batman-error .hidden {
  opacity: 0;
  transition: 0.5s;
}
