h1 {
  text-align: center;
}

.list-item {
  cursor: pointer;
}

.filter-form {
  text-align: center;

  .filter-select {
    min-width: 100px;
  }
}

@media only screen and (min-width: 512px) {
  .filter-form {
    .filter-select {
      min-width: 300px;
    }
  }
}
