.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200px;
  transform: translate(-50%, -50%);
}

.loader-small {
  position: relative;
  left: 50%;
  width: 100px;
  transform: translateX(-50%);
}

@media only screen and (min-width: 512px) {
  .loader {
    width: 350px;
  }
}
